.mainHeading{
    font-family: "Inter", sans-serif;
    margin-block-end: 5px;
    font-size: 1.5rem;
}

.addCatAndHeading{
    display: flex;
    justify-content: space-between;
}

.datesInfo{
    font-family: "Lora", sans-serif;
    opacity: .6;
    font-size: 1rem;
}