.formGrid{
  min-width: 0;
  width: 100%;
  gap: 12px;
  display: grid;
  grid-template-areas: 
  "name name age age"
  "targetMin targetMin targetMax targetMax"
  "weight weight weight weight"
  "submitBtn submitBtn submitBtn cancelBtn";
}
@media (max-width: 410px) {
  .formGrid{
    grid-template-areas: 
    "name name"
    "age age"
    "targetMin targetMin"
    "targetMax targetMax"
    "weight weight"
    "submitBtn submitBtn"
    "cancelBtn cancelBtn"
    ;
  }
}
.formName{
  grid-area: name;
}
.formAge{
  grid-area: age;
}
.formTargetMin{
  grid-area: targetMin;
}
.formTargetMax{
  grid-area: targetMax;
}
.formWeight{
  grid-area: weight;
}

.formSubmitBtn{
  grid-area: submitBtn;
  color: #fff3d5;
  background-color: #4d694e;
}
.formCancelBtn{
  grid-area: cancelBtn ;
  background-color: #b6b6b6;
}